AddDefaultCharset off //выключаем жесткое использование заданной кодировки, вместо этого используем кодировку прописанную на каждой странице

php_flag display_errors off //выключаем отображение ошибок для пользователя
php_flag log_errors On //включаем логгирование ошибок
php_value error_log /var/log/php-errors.log //путь к логу, куда будут сохранятся ошибки